/* Sidebar header footer ve sayfa içeriklerie burada yer alacak */

.app-container {
  display: flex;
  height: 100vh; /* Tam ekran yükseklik */
}
.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f9f9f9;
}
/* A084DC */
/* A0E7E5 */
/* FFD700 */
.navbar{
  background-color: #A084DC;
  display: inline-block;
  height: 100%;
}

.navbar ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 30px;
  padding: 20px;
  height: 100vh;

}
.navbar ul li{
  cursor: pointer;
}
