/* index.css reset ayarları */

/* Tüm öğelerin kutu modelini sıfırla ve kenarlıkları dahil et */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Temel tipografi ayarları */
html {
  font-size: 16px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Listeleri sıfırla */
ul,
ol {
  list-style: none;
}

/* Bağlantılar için genel stiller */
a {
  text-decoration: none;
  color: inherit;
}

/* Buton ve input elementlerini sıfırla */
button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
  outline: none;
}

/* Görsellerin genişliğini maksimuma ayarla */
img {
  max-width: 100%;
  height: auto;
}

/* Tablo ve tablo öğeleri için sıfırlama */
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* BURAYA BÜTÜN SAYFALAR İÇİN KULLANILACAK ŞEYLER YAZILACAK BUTONLAR İNPUTLAR LİNKLER H1 H2 GİBİ  */
